# for문을 돌리는 다양한 방법

In [1]:
animals = ["강아지", "고양이","이구아나","물고기","참새"]

my_informations = {
    "name":"성윤",
    "phonenumber":"010-0000-0000",
    "email":"zzsza@naver.com"
}

In [2]:
for animal in animals:
    print(animal)

강아지
고양이
이구아나
물고기
참새

In [3]:
for my_information in my_informations:
    print(my_information)

name
email
phonenumber

In [4]:
# 키값만 출력되고 value가 출력이 안된다..?

In [6]:
for my_information in my_informations:
    print(my_information)
    print(my_informations[my_information])

name
성윤
email
zzsza@naver.com
phonenumber
010-0000-0000

In [7]:
my_informations["name"]

'성윤'

In [8]:
# 하지만 key, value 한 쌍으로 뽑고 싶다면!

for my_information in my_informations.items():
    print(my_information)

('name', '성윤')
('email', 'zzsza@naver.com')
('phonenumber', '010-0000-0000')

In [9]:
# 이건 tuple 형태. 나중에 사용하기 편한 방법을 찾아보자

In [10]:
width_and_height = (120, 240)
width, height = width_and_height

In [12]:
# 이런식으로 생각해볼 수 있음

In [13]:
for my_information in my_informations.items():
    key, value = my_information
    print(key)
    print(value)

name
성윤
email
zzsza@naver.com
phonenumber
010-0000-0000

In [14]:
# 하지만 위 방법도 조금 귀찮음

In [15]:
for key, value in my_informations.items():
    print(key)
    print(value)

name
성윤
email
zzsza@naver.com
phonenumber
010-0000-0000

In [17]:
my_informations.keys() # 이렇게 key값만 뽑아낼 수 있음

dict_keys(['name', 'email', 'phonenumber'])

In [36]:
animals = ["강아지","고양이","이구아나","물고기","참새"]

# 하나씩 출력을 하는데, index가 2번인 애는 파이썬으로 변경

In [37]:
len(animals)

5

In [38]:
for i in range(len(animals)):
    print(animals[i])

강아지
고양이
이구아나
물고기
참새

In [42]:
for i in range(len(animals)):
    if i == 2:
        animals[i] = "파이썬"
    print(animals[i])
#     else:
#         print(animals[i])

강아지
고양이
파이썬
물고기
참새

In [43]:
animals.index("강아지")

0

In [44]:
animals = ["강아지","고양이","이구아나","물고기","참새"]

for animal in animals:
    index = animals.index(animal)

    if index == 2:
        animals[index] = "파이썬"
    print(animals[index])

강아지
고양이
파이썬
물고기
참새

In [45]:
for something in enumerate(animals):
    print(something)

(0, '강아지')
(1, '고양이')
(2, '파이썬')
(3, '물고기')
(4, '참새')

In [46]:
# enumerate : 열거하는 기능
# 리스트를 딕셔너리처럼 반환

In [48]:
for index, value in enumerate(animals): 
    if index == 2:
        animals[index] = "파이썬"
    print(animals[index])

강아지
고양이
파이썬
물고기
참새

In [49]:
# 딕셔너리를 사용할 경우 거~의 key, value로 나눌 확률이 큼
# 데이터가 필요한 구조에 따라 다르게 코딩해야 함

# 소수 구하기 Prime number

In [ ]:
# 코딩할 때 어려우면 기능 단위로 나눠서 진행해볼 것

In [53]:
def get_prime_numbers(number):
    prime_numbers = []
    for i in range(2, number):
        if is_prime(i):
            prime_numbers.append(i)
    return prime_numbers

In [54]:
get_prime_numbers(20)

[2, 3, 5, 7, 11, 13, 17, 19]

In [50]:
def is_prime(number):
    # 2부터 number-1 까지 숫자로 각각 나눠서 체크
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

In [52]:
is_prime(10)

False

In [55]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [56]:
import time

In [59]:
start_time = time.time()
get_prime_numbers(1000)
end_time = time.time()

end_time - start_time

0.05354809761047363

In [60]:
# is_prime 에서 연산이 많이 생김.. 리팩토링 필요

In [61]:
# 1) 2로 나누어 떨어지는 숫자까지 체크
# 2) 5로 나누어지면, 100/5 = 20 으로 나눌 수 있음.
#    100의 제곱근까지만 체크하면 된다
#    101 ** 0.5

In [62]:
def is_prime_optimized(number):
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

In [63]:
def get_prime_numbers_optimized(number):
    prime_numbers = []
    for i in range(2, number):
        if is_prime_optimized(i):
            prime_numbers.append(i)
    return prime_numbers

In [65]:
%%time
get_prime_numbers(4000)

Wall time: 929 ms

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997,
 1009,
 1013,
 1019,
 1021,
 1031,
 1033,
 1039,
 1049,
 1051,
 1061,
 1063,
 1069,
 1087,
 1091,
 1093,
 1097,
 1103,
 1109,
 1117,
 1123,
 1129,
 1151,
 1153,
 1163,
 1171,
 1181,
 1187,
 1193,
 1201,
 1213,
 1217,
 1223,
 1229,
 1231,
 1237,
 1249,
 1259,
 1277,
 1279,
 1283,
 1289,
 1291,
 1297,
 1301,
 1303,
 1307,
 1319,
 1321,
 1327,
 1361,
 1367,
 1373,
 1381,
 1399,
 1409,
 1423,
 1427,
 1429,
 1433,
 1439,
 1447,
 1451,
 1453,
 1459,
 1471,
 1481,
 1483,
 1487,
 1489,
 1493,
 1499,
 1511,
 1523,
 1531,
 1543,
 1549,
 1553,
 1559,
 1567,
 1571,
 1579,
 1583,
 1597,
 1601,
 1607,
 1609,
 1613,
 1619,
 1621,
 1627,
 1637,
 1657,
 1663,
 1667,
 1669,
 1693,
 1697,
 1699,
 1709,
 1721,
 1723,
 1733,
 1741,
 1747,
 1753,
 1759,
 1777,
 1783,
 1787,
 1789,
 1801,
 1811,
 1823,
 1831,
 1847,
 1861,
 1867,
 1871,
 1873,
 1877,
 1879,
 1889,
 1901,
 1907,
 1913,
 1931,
 1933,
 1949,
 1951,
 1973,
 1979,
 1987,
 1993,
 1997,
 1999,
 2003,
 2011,
 2017,
 2027,
 2029,
 2039,
 2053,
 2063,
 2069,
 2081,
 2083,
 2087,
 2089,
 2099,
 2111,
 2113,
 2129,
 2131,
 2137,
 2141,
 2143,
 2153,
 2161,
 2179,
 2203,
 2207,
 2213,
 2221,
 2237,
 2239,
 2243,
 2251,
 2267,
 2269,
 2273,
 2281,
 2287,
 2293,
 2297,
 2309,
 2311,
 2333,
 2339,
 2341,
 2347,
 2351,
 2357,
 2371,
 2377,
 2381,
 2383,
 2389,
 2393,
 2399,
 2411,
 2417,
 2423,
 2437,
 2441,
 2447,
 2459,
 2467,
 2473,
 2477,
 2503,
 2521,
 2531,
 2539,
 2543,
 2549,
 2551,
 2557,
 2579,
 2591,
 2593,
 2609,
 2617,
 2621,
 2633,
 2647,
 2657,
 2659,
 2663,
 2671,
 2677,
 2683,
 2687,
 2689,
 2693,
 2699,
 2707,
 2711,
 2713,
 2719,
 2729,
 2731,
 2741,
 2749,
 2753,
 2767,
 2777,
 2789,
 2791,
 2797,
 2801,
 2803,
 2819,
 2833,
 2837,
 2843,
 2851,
 2857,
 2861,
 2879,
 2887,
 2897,
 2903,
 2909,
 2917,
 2927,
 2939,
 2953,
 2957,
 2963,
 2969,
 2971,
 2999,
 3001,
 3011,
 3019,
 3023,
 3037,
 3041,
 3049,
 3061,
 3067,
 3079,
 3083,
 3089,
 3109,
 3119,
 3121,
 3137,
 3163,
 3167,
 3169,
 3181,
 3187,
 3191,
 3203,
 3209,
 3217,
 3221,
 3229,
 3251,
 3253,
 3257,
 3259,
 3271,
 3299,
 3301,
 3307,
 3313,
 3319,
 3323,
 3329,
 3331,
 3343,
 3347,
 3359,
 3361,
 3371,
 3373,
 3389,
 3391,
 3407,
 3413,
 3433,
 3449,
 3457,
 3461,
 3463,
 3467,
 3469,
 3491,
 3499,
 3511,
 3517,
 3527,
 3529,
 3533,
 3539,
 3541,
 3547,
 3557,
 3559,
 3571,
 3581,
 3583,
 3593,
 3607,
 3613,
 3617,
 3623,
 3631,
 3637,
 3643,
 3659,
 3671,
 3673,
 3677,
 3691,
 3697,
 3701,
 3709,
 3719,
 3727,
 3733,
 3739,
 3761,
 3767,
 3769,
 3779,
 3793,
 3797,
 3803,
 3821,
 3823,
 3833,
 3847,
 3851,
 3853,
 3863,
 3877,
 3881,
 3889,
 3907,
 3911,
 3917,
 3919,
 3923,
 3929,
 3931,
 3943,
 3947,
 3967,
 3989]

In [66]:
%%time
get_prime_numbers_optimized(4000)

Wall time: 58 ms

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997,
 1009,
 1013,
 1019,
 1021,
 1031,
 1033,
 1039,
 1049,
 1051,
 1061,
 1063,
 1069,
 1087,
 1091,
 1093,
 1097,
 1103,
 1109,
 1117,
 1123,
 1129,
 1151,
 1153,
 1163,
 1171,
 1181,
 1187,
 1193,
 1201,
 1213,
 1217,
 1223,
 1229,
 1231,
 1237,
 1249,
 1259,
 1277,
 1279,
 1283,
 1289,
 1291,
 1297,
 1301,
 1303,
 1307,
 1319,
 1321,
 1327,
 1361,
 1367,
 1373,
 1381,
 1399,
 1409,
 1423,
 1427,
 1429,
 1433,
 1439,
 1447,
 1451,
 1453,
 1459,
 1471,
 1481,
 1483,
 1487,
 1489,
 1493,
 1499,
 1511,
 1523,
 1531,
 1543,
 1549,
 1553,
 1559,
 1567,
 1571,
 1579,
 1583,
 1597,
 1601,
 1607,
 1609,
 1613,
 1619,
 1621,
 1627,
 1637,
 1657,
 1663,
 1667,
 1669,
 1693,
 1697,
 1699,
 1709,
 1721,
 1723,
 1733,
 1741,
 1747,
 1753,
 1759,
 1777,
 1783,
 1787,
 1789,
 1801,
 1811,
 1823,
 1831,
 1847,
 1861,
 1867,
 1871,
 1873,
 1877,
 1879,
 1889,
 1901,
 1907,
 1913,
 1931,
 1933,
 1949,
 1951,
 1973,
 1979,
 1987,
 1993,
 1997,
 1999,
 2003,
 2011,
 2017,
 2027,
 2029,
 2039,
 2053,
 2063,
 2069,
 2081,
 2083,
 2087,
 2089,
 2099,
 2111,
 2113,
 2129,
 2131,
 2137,
 2141,
 2143,
 2153,
 2161,
 2179,
 2203,
 2207,
 2213,
 2221,
 2237,
 2239,
 2243,
 2251,
 2267,
 2269,
 2273,
 2281,
 2287,
 2293,
 2297,
 2309,
 2311,
 2333,
 2339,
 2341,
 2347,
 2351,
 2357,
 2371,
 2377,
 2381,
 2383,
 2389,
 2393,
 2399,
 2411,
 2417,
 2423,
 2437,
 2441,
 2447,
 2459,
 2467,
 2473,
 2477,
 2503,
 2521,
 2531,
 2539,
 2543,
 2549,
 2551,
 2557,
 2579,
 2591,
 2593,
 2609,
 2617,
 2621,
 2633,
 2647,
 2657,
 2659,
 2663,
 2671,
 2677,
 2683,
 2687,
 2689,
 2693,
 2699,
 2707,
 2711,
 2713,
 2719,
 2729,
 2731,
 2741,
 2749,
 2753,
 2767,
 2777,
 2789,
 2791,
 2797,
 2801,
 2803,
 2819,
 2833,
 2837,
 2843,
 2851,
 2857,
 2861,
 2879,
 2887,
 2897,
 2903,
 2909,
 2917,
 2927,
 2939,
 2953,
 2957,
 2963,
 2969,
 2971,
 2999,
 3001,
 3011,
 3019,
 3023,
 3037,
 3041,
 3049,
 3061,
 3067,
 3079,
 3083,
 3089,
 3109,
 3119,
 3121,
 3137,
 3163,
 3167,
 3169,
 3181,
 3187,
 3191,
 3203,
 3209,
 3217,
 3221,
 3229,
 3251,
 3253,
 3257,
 3259,
 3271,
 3299,
 3301,
 3307,
 3313,
 3319,
 3323,
 3329,
 3331,
 3343,
 3347,
 3359,
 3361,
 3371,
 3373,
 3389,
 3391,
 3407,
 3413,
 3433,
 3449,
 3457,
 3461,
 3463,
 3467,
 3469,
 3491,
 3499,
 3511,
 3517,
 3527,
 3529,
 3533,
 3539,
 3541,
 3547,
 3557,
 3559,
 3571,
 3581,
 3583,
 3593,
 3607,
 3613,
 3617,
 3623,
 3631,
 3637,
 3643,
 3659,
 3671,
 3673,
 3677,
 3691,
 3697,
 3701,
 3709,
 3719,
 3727,
 3733,
 3739,
 3761,
 3767,
 3769,
 3779,
 3793,
 3797,
 3803,
 3821,
 3823,
 3833,
 3847,
 3851,
 3853,
 3863,
 3877,
 3881,
 3889,
 3907,
 3911,
 3917,
 3919,
 3923,
 3929,
 3931,
 3943,
 3947,
 3967,
 3989]

In [67]:
# 엄청나게 차이남

In [68]:
def sum(a, b):
    return a + b

In [69]:
result = sum(1, 3)

In [70]:
# 다른 함수에 넣을 수 있음

In [71]:
# sum => function
# a, b => parameter ( 함수를 정의하는 부분 )
# 1, 3 => argument ( 실제 인자 )
# parameter, argument를 혼용해서 많이 씀

In [72]:
# 입력받은 모든 숫자를 더해주는 'sum'이라는 함수를 만들자

def sum(*args):
    total = 0
    for arg in args:
        total += arg
    return total

In [73]:
sum(1,2,3)

6

In [74]:
def greeting(name, course):
    print("{name}님, {course} 등록을 축하드립니다.".format(name=name, course=course))

In [75]:
values = ("안수찬", "데사스")

In [76]:
greeting(values) # course가 입력되지 않았다는 에러

TypeError: greeting() missing 1 required positional argument: 'course'

In [77]:
# unpack / unpacking : 튜플이나 딕셔너리 형태를 나눠줌

In [78]:
greeting(*values) # * 하나를 넣으면, unpack

안수찬님, 데사스 등록을 축하드립니다.

In [81]:
def greeting(name, why, course):
    print("{name} | {course} | {why}".format(
            name = name,
            course = course,
            why = why,        
        ))

In [82]:
values = ("변성윤","개발자","데사스")

In [83]:
greeting(*values)

변성윤 | 데사스 | 개발자

In [91]:
# unnamed => *args ( tuple ), 순서에 맞게 들어감
# 참고로 튜플을 unpacking할 때 zip을 사용함
# named => **kwargs ( dict ), 이름에 맞게 들어감

In [85]:
def greeting(name, course):
    print("{name}님, {course} 등록을 축하드립니다.".format(name=name, course=course))

In [87]:
greeting(name="변성윤",course="데사스") # named
# 딕셔너리랑 유사함..!!

변성윤님, 데사스 등록을 축하드립니다.

In [88]:
values = {
    "name":"변성윤",
    "course":"데사스"
}

In [89]:
greeting(*values) # key값만 출력됨

name님, course 등록을 축하드립니다.

In [90]:
greeting(**values) # **을 사용하면 value값이 출력됨!

변성윤님, 데사스 등록을 축하드립니다.

In [92]:
def print_all_informations(**kwargs):
    # **kwargs : 딕셔너리 스타일
    for key, value in kwargs.items():
        print("{key} => {value}".format(key=key, value=value))

In [93]:
informations = {
    "name" :"변성윤",
    "email" : "zzsza@naver.com",
    "phone" : "010000000"
    
}

In [96]:
print_all_informations(**informations)

name => 변성윤
email => zzsza@naver.com
phone => 010000000

In [97]:
print_all_informations(name="변성윤", course="데사스")

name => 변성윤
course => 데사스

In [ ]:
def 누가만들어둔 함수 (이건 필수값1, 필수값2, *args, **kwargs)
# 이런식으로 라이브러리가 만들어져 있을거에요.

# lambda
# 이름이 없는 함수 ( 익명 함수 )

In [98]:
def increment(x):
    return x + 1

In [99]:
increment(55)

56

In [100]:
# 이런 함수를 굳이 꼭 만들어야될까?

In [101]:
lambda x: x+1

In [102]:
increment_lambda = lambda x: x+1 # 람다 함수에 이름을 붙임

In [103]:
increment_lambda(33)

34

In [104]:
# 람다는 한번 쓰고 버린다는 느낌으로 사용!

In [105]:
(lambda x: x+1)(3)

4

In [106]:
(lambda x,y : x+y)(10, 20)

30

In [107]:
# 1줄짜리라면 람다! 2줄 이상이면 함수화가 좋지 않을까요?