# 자료형 ( data type ) 
- 파이썬에 내장된 숫자, 문자, 리스트, 튜플, 딕셔너리

# 자료 구조 ( data structure) 
- 배열(list), 집합(set), 키-값(딕셔너리) 이미 구현되어 있음

# 자료형
number : 정수, 실수, 복소수, 8진수, 16진수, 복소수 등

string

list, tuple, dict, set

boolean

이런 것들이 있음

In [2]:
10

10

In [3]:
a = 3

In [6]:
b = 14

In [7]:
a + b

17

In [8]:
a?

In [9]:
type(a)

int

In [10]:
a = 3.0
type(a)

float

In [12]:
a = int(a)
type(a)

int

2가지 방식

roomSize : CamelCase

room_size : 언더라인

In [13]:
a = 27

In [14]:
a = a + 1
a

28

In [16]:
a += 1

In [17]:
a

30

In [22]:
a ** 2

900

In [23]:
a ** 3

27000

In [20]:
14 / 3

4.666666666666667

In [21]:
14 % 3 # 나머지

2

In [24]:
name = "변성윤"

In [25]:
name + "님 안녕하세요"

'변성윤님 안녕하세요'

In [26]:
name[1:]

'성윤'

In [27]:
"%s님 안녕하세요." % "변성윤"

'변성윤님 안녕하세요.'

In [30]:
"{0}님 안녕하세요.".format("변성윤") # 이런 style 잊지 말기

'변성윤님 안녕하세요.'

In [31]:
"{name}님 안녕하세요.".format(name="변성윤") # 최종적으로 이렇게 사용할 것

'변성윤님 안녕하세요.'

In [32]:
"안녕하세요. {name} 입니다. 저는 {course}를 수강하고 있습니다.".format(name="변성윤", course="데사스")

'안녕하세요. 변성윤 입니다. 저는 데사스를 수강하고 있습니다.'

In [34]:
# list, tuple, dict, set

In [35]:
animals = ["강아지","고양이","이구아나"]

In [36]:
animals[0]

'강아지'

In [37]:
animals.append("물고기")

In [38]:
animals

['강아지', '고양이', '이구아나', '물고기']

In [39]:
len(animals) # 몇 개의 요소가 들어있는지?

4

In [40]:
animals.pop(1)

'고양이'

In [41]:
animals

['강아지', '이구아나', '물고기']

In [42]:
# tuple : 리스트와 동일하지만 element 값이 변경될 수 없음

In [43]:
width_and_height = (120, 240)

In [44]:
width, height = width_and_height # 안의 개수에 맞게 할당해주면 뽑혀 나감

In [45]:
width

120

In [46]:
# set => 집합

# 집합은 순서가 없어 뽑아내기가 안됨. 각각의 요소들이 unique

In [47]:
name_set = set(["변성윤","변성윤","변성"])

In [48]:
name_set

{'변성', '변성윤'}

In [50]:
name_list = ["변성윤","변성윤","변성"]

In [51]:
name_list = list(set(name_list))

In [52]:
name_list

['변성', '변성윤']

In [53]:
# list가 일반적으로 많이 사용됨

In [54]:
detail_dict = {"name":"변성윤","age":27,"phone":"010"}

In [55]:
detail_dict

{'age': 27, 'name': '변성윤', 'phone': '010'}

In [58]:
detail_dict["age"]

27

In [59]:
detail_dict["name"]

'변성윤'

In [61]:
True & False # and

False

In [62]:
True | False # or

True

In [63]:
False & True

False

In [64]:
# 2강

In [65]:
if True:
    print("True")

True

In [66]:
if False:
    print("False")

In [67]:
if 1 < 3:
    print("1이 3보다 작다.")

1이 3보다 작다.

In [71]:
a = 1
b = 12

if a < b :
    print("a({a})가 b({b})보다 작다".format(a=a, b=b))
else:
    print("a({a})가 b({b})보다 크다".format(a=a, b=b))

a(1)가 b(12)보다 작다

In [72]:
animals = ["강아지", "고양이","이구아나"]

In [73]:
if "이구아나" in animals:
    print("이구아나를 키우고 있습니다.")
else:
    print("이구아나를 키우고 있지 않습니다.")

이구아나를 키우고 있습니다.

In [74]:
# 90 이상은 A, 60-90은 B, 60 밑 C

In [75]:
score = 89

if score >= 90:
    print("A")
elif score >= 60:
    print("B")
else: 
    print("C")

B

In [76]:
# while, for

In [78]:
age = 20

while age < 30:
    print("20대에 나이를 먹었습니다. 현재 나이: {age}".format(age=age))
    age += 1

20대에 나이를 먹었습니다. 현재 나이: 20
20대에 나이를 먹었습니다. 현재 나이: 21
20대에 나이를 먹었습니다. 현재 나이: 22
20대에 나이를 먹었습니다. 현재 나이: 23
20대에 나이를 먹었습니다. 현재 나이: 24
20대에 나이를 먹었습니다. 현재 나이: 25
20대에 나이를 먹었습니다. 현재 나이: 26
20대에 나이를 먹었습니다. 현재 나이: 27
20대에 나이를 먹었습니다. 현재 나이: 28
20대에 나이를 먹었습니다. 현재 나이: 29

In [80]:
list(range(5))

[0, 1, 2, 3, 4]

In [81]:
animals = ["강아지","고양이","참새","이구아나"]

for animal in animals:
    print("나는 {animal}을 키운다.".format(animal=animal))

나는 강아지을 키운다.
나는 고양이을 키운다.
나는 참새을 키운다.
나는 이구아나을 키운다.

In [83]:
for number in range(10):
    print("hello world {number}".format(number=number))

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

In [85]:
for _ in range(3):
    print("hi")

# _ 란 변수가 사용되지 않을 때 관례적으로 사용하는 표현

hi
hi
hi

In [89]:
# 별찍기 과제

for i in range(5):
    print((i+1) * "*")

*
**
***
****
*****

In [90]:
for i in range(5):
    star = ""
    for j in range(i+1):
        star += "*"
    print(star)

*
**
***
****
*****

In [91]:
# input

In [92]:
username = input("너의 이름은 뭐니?")

너의 이름은 뭐니?성윤

In [93]:
username

'성윤'

In [95]:
for i in range(int(input("별 몇개?"))):
    print("*" * (i + 1))

별 몇개?3
*
**
***

In [96]:
# python 3.x => input(...), print(...)
# python 2.x => raw_input(..)

In [97]:
# 유니코드는 전 세계의 모든 문자들을 일관되게 표현할 수 있는 표준 문자열

# utf-8은 인코딩 하는 방식 중 하나

In [98]:
# 파이썬 2에서 인코딩 - 타입이 str이냐, unicode냐 생각해야됨
# print "한글".decode("utf8")
# print "한글".decode("utf8").encode("utf8")

In [101]:
# 다른 사람들이 작성한 파일을 사용하는 경우, python 기본 인코딩은
# ascii를 utf8로 변경해야한다

# import sys
# reload(sys)
# sys.setdefaultencoding('utf-8')

# 파일 입출력

In [103]:
# ./ => 현재 폴더
# ../ => 상위 폴더

# ./test.txt => 현재 폴더에 있는 test.txt
# ../test.txt => 상위 폴더에 있는 test.txt


 f = open("경로","mode")

In [115]:
f = open("./animals.txt", "r", encoding="utf-8")
# mode => "w", "r", "a"
# utf-8을 안넣으면 에러 발생

In [111]:
# read, readline, readlines

f.read()

'강아지\n고양이\n이구아나\n참새\n물고기'

In [114]:
f.readline()

'강아지\n'

In [116]:
f.readlines()
# 1번 읽으면 다시 open해야됨

['강아지\n', '고양이\n', '이구아나\n', '참새\n', '물고기']

In [118]:
f = open("./animals.txt", "w")

In [119]:
f.write("hello world")

11

In [120]:
f.close() # open 하면 close 꼭 해야됨

In [121]:
with open("./animals.txt", "w") as f:
    f.write("hello world")

# 이건 close 안해도 되서 파이썬에서 일반적임

In [122]:
with open("./stars.txt", "w") as f:
    for i in range(5):
        f.write("*" * (i + 1))
        f.write("\n")

# 함수

In [124]:
# 작업 자동화
# 우리가 반복적으로 사용할 어떤 특정 기능에 대해 
# => 재사용 가능한 코드 덩어리

In [125]:
def greeting():
    username = input()
    print("{username}님, 가입을 축하드립니다.".format(username=username))

In [126]:
greeting()

성윤
성윤님, 가입을 축하드립니다.

In [131]:
def print_pretty_star(count):
    """
    이 함수는 별찍기 함수입니다.
    """
    for i in range(count):
        print("*" * (i + 1))

In [128]:
print_pretty_star(3)

*
**
***

In [129]:
print_pretty_star(int(input("Count?")))

Count?4
*
**
***
****

In [132]:
print_pretty_star?